:root {
  /* space colors*/
  --embark-space0: #100E23;
  --embark-space1: #1e1c31;
  --embark-space2: #2D2B40;
  --embark-space3: #3E3859;
  --embark-space4: #585273;
  /* astral colors */
  --embark-astral0: #8A889D;
  --embark-astral1: #cbe3e7;
  /* nebual colors */
  --embark-red: #F48FB1;
  --embark-dark-red: #F02E6E;
  --embark-green: #A1EFD3;
  --embark-dark-green: #7fe9c3;
  --embark-yellow: #ffe6b3;
  --embark-dark-yellow: #F2B482;
  --embark-blue: #91ddff;
  --embark-dark-blue: #78a8ff;
  --embark-purple: #d4bfff;
  --embark-dark-purple: #7676ff;
  --embark-cyan: #ABF8F7;
  --embark-dark-cyan: #63f2f1;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--embark-space1);
    color: var(--embark-astral1);
    font-family: 'IBM Plex Mono', 'monospace';
    overflow-x: hidden;
}

a {
  text-decoration: none;
}

.mb4 {
  margin-bottom: 36px;
}


.color-block {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-text-dark {
  color: var(--embark-space0);
}

.space0 {
  background-color: var(--embark-space0);
}

.space1 {
  background-color: var(--embark-space1);
}

.space2 {
  background-color: var(--embark-space2);
}

.space3 {
  background-color: var(--embark-space3);
}

.space4 {
  background-color: var(--embark-space4);
}

.astral0 {
  background-color: var(--embark-astral0);
}

.astral1 {
  background-color: var(--embark-astral1);
}

.red {
  background-color: var(--embark-red);
}

.red-dark {
  background-color: var(--embark-dark-red);
}

.green {
  background-color: var(--embark-green);
}

.green-dark {
  background-color: var(--embark-dark-green);
}

.yellow {
  background-color: var(--embark-yellow);
}

.yellow-dark {
  background-color: var(--embark-dark-yellow);
}

.blue {
  background-color: var(--embark-blue);
}

.blue-dark {
  background-color: var(--embark-dark-blue);
}

.purple {
  background-color: var(--embark-purple);
}

.purple-dark {
  background-color: var(--embark-dark-purple);
}

.cyan {
  background-color: var(--embark-cyan);
}

.cyan-dark {
  background-color: var(--embark-dark-cyan);
}

.has-text-cyan {
  color: var(--embark-dark-cyan);
}

.has-text-red {
  color: var(--embark-red);
}

.has-text-blue {
  color: var(--embark-blue);
}

.has-text-green {
  color: var(--embark-green);
}

.has-text-purple {
  color: var(--embark-purple);
}

.has-text-yellow {
  color: var(--embark-yellow);
}

.has-text-dark-yellow {
  color: var(--embark-yellow);
}

.has-text-white {
  color: var(--embark-astral1);
}

.has-text-faded {
  color: var(--embark-astral0);
}

code {
  font-family: 'IBM Plex Mono', 'monospace';
  box-shadow: 5px 5px 5px var(--embark-space0);
}

.cursor {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    background-color: var(--embark-green);
    color: var(--embark-space1);
  }

  50% {
    background-color: var(--embark-space1);
    color: var(--embark-green);
  }

  100% {
    background-color: var(--embark-green);
    color: var(--embark-space1);
  }
}

.has-text-left {
  text-align: left;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

#nav-left, #nav-right {
  display: flex;
  align-items: center;
}

#nav-right {
  display: flex;
}

#nav-right .nav-link {
  margin-right: 48px;
}

.mission {
  padding: 24px;
  min-height: 550px;
  position: relative;
}

code {
  border: solid 1px var(--embark-space2);
  background: var(--embark-space1);
  display: block;
  height: 100%;
  padding: 8px;
  position: relative;
  border-radius: 5px;
}

.normal-mode {
  background: var(--embark-cyan);
  color: var(--embark-space0);
  display: inline-block;
  padding: 4px 6px;
}

.file {
  background: var(--embark-space3);
  color: var(--embark-astral1);
  display: inline-block;
  padding: 4px 6px;
}

.line-info {
  position: absolute;
  right: 0;
  display: inline-block;
  background: var(--embark-cyan);
  color: var(--embark-space0);
  padding: 4px 6px;
}

#ports {
  padding: 88px 0;
  min-height: 250px;
  margin-bottom: 156px;
  position: relative;
}

#ports:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 110%;
  left: -10px;
  transform: rotate(-2deg);
  background-color: var(--embark-space2);
  z-index: -1;
}

#palette {
  margin-bottom: 120px;
}

footer {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--embark-space0);
}

.port {
  display: flex;
  column-gap: 8px
}

.port a {
  text-decoration: none;
}

.port span.icon i.ri-hammer-fill {
  transform: rotate(45deg);
}

.no-gap {
  margin: 0 !important;
}
